{% extends "base.html" %}

{% block content %}

<div class="hero-section">

<div class="hero-overlay">

    <h1>StudentVerse</h1>

    <h3>Connect • Collaborate • Grow</h3>

    <p>
        Explore communities, discover events,
        stay updated with notices and unlock
        placement opportunities.
    </p>

</div>

</div>

<section class="dashboard-welcome">

    <h2>Welcome to StudentVerse</h2>

    <p>
        Your central hub for campus communities,
        events, notices and placements.
    </p>

</section>

<div class="container mt-5">

<div class="row g-4">

    <div class="col-md-3 col-6">

        <a href="/communities"
           class="text-decoration-none">

            <div class="card dashboard-card text-center p-4">


                <h2>Communities</h2>

                <p>Explore clubs & societies</p>

            </div>

        </a>

    </div>

    <div class="col-md-3 col-6">

        <a href="/notices"
           class="text-decoration-none">

            <div class="card dashboard-card text-center p-4">


                <h2>Notices</h2>

                <p>Latest campus updates</p>

            </div>

        </a>

    </div>

    <div class="col-md-3 col-6">

        <a href="/events"
           class="text-decoration-none">

            <div class="card dashboard-card text-center p-4">

                <h2>Events</h2>

                <p>Upcoming activities</p>

            </div>

        </a>

    </div>

    <div class="col-md-3 col-6">

        <a href="/placements"
           class="text-decoration-none">

            <div class="card dashboard-card text-center p-4">


                <h2>Placements</h2>

                <p>Career opportunities</p>

            </div>

        </a>

    </div>

</div>

</div>

<footer class="footer dashboard-footer">

<hr>

<h5>StudentVerse</h5>

<p>
    College Students Community & Placement Management Platform
</p>

<p>
    © 2026 StudentVerse
</p>

</footer>

{% endblock %}
