{% extends "base.html" %}

{% block content %}

<div class="hero-section">

<div class="hero-overlay">

    <h1>StudentVerse</h1>

    <h3>Where Campus Communities Thrive</h3>

    <p>
        Connect with clubs, events, placements,
        achievements and opportunities.
    </p>

    <a href="/register"
       class="btn-gold">
        Get Started
    </a>

</div>

</div>

<div class="home-content">

<h2 class="section-title">
    Welcome to StudentVerse
</h2>

<p style="text-align:center; max-width:800px; margin:auto; color:#555;">

StudentVerse is a College  Students Community and Placement Management Platform
designed to connect students with clubs, events, notices, and career
opportunities in one place.

</p>

<footer class="footer">

<hr>
<h5>StudentVerse</h5>

<p>
    College Students Community & Placement Management Platform
</p>

<p>
    © 2026 StudentVerse
</p>
</div>

</footer>

{% endblock %}
